<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
</head>
<body>
  <form [formGroup]="formLogin" (submit)="send()">
    <!--input Email-->
    <div class=" mb-6">
      <input type="email" id="txtemail" class="form-control" />
      <label class="form-label" for="txtemail">Email address</label>
    </div>
  
   <!--input Password-->
    <div class="mb-6">
      <input type="password" id="txtpassword" class="form-control" />
      <label class="form-label" for="txtpassword">Password</label>
    </div>
    <!-- button-->
    <button type="submit" class="btn btn-primary">Ingresar</button>
    </div>
  </form>
</body>
</html>